 @import url('https://fonts.googleapis.com/css2?family=Bellefair&family=Mooli&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mooli', sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem;
    background-color: rgb(0, 0, 0);
}

.logo{
   width: 8rem;
   
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 4rem;
    margin-right: 30px;
   


}   

.nav-list li a{
    text-decoration: none;
    color: rgb(255, 249, 249);
    font-size: 18px;
}
.abrir-menu,
.cerrar-menu{
    display: none;

}


*/*
@media screen and (max-width:550px) {

    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: aliceblue;
    }
   .cerrar-menu{
    margin-top: 10px;
    font-size: 2.5rem;

   }

   .nav{
      opacity: 0;
      visibility: hidden;
      
       display: flex;
       flex-direction: column;
       align-items: end;
       gap: 1rem;
      position: absolute;
      top:0;
      right: 0;
      bottom: 0;
      background-color: rgb(61, 60, 60);
      padding: 1rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

   .nav-list{
      flex-direction: column;
      align-items: end;
      margin: 0;
      gap: 3rem;

    }

   .nav-list li a{
      color: rgb(255, 255, 255);
      padding: 1rem;
    }
    .logo{
        width: 4.5rem;
    }
    
}*/





#portada{
    
    background-image: url(Imagenes/Portada.png);
    background-size: cover;
    height: 52rem;
    width: 100%;
    
}

.p-texto{
    color: aliceblue;
    padding:250px 0 0 100px;
   
    
}
.p-texto h1{
    font-size: 80px;
    line-height: 7rem;
    color: rgb(141, 97, 30);
}
.p-texto p{
    width: 550px;
    font-size: 22px;
}

.p-texto button{
    font-size: 18px;
   background-color: rgb(141, 97, 30);
   border: none;
   padding: 10px 25px;
   border-radius: 25px;
   margin-left:70px;
   
   margin-top: 50px;
   
   
}







#galery{
    text-align: center;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    height: 1370px;
    
}


.galery h1{
    padding: 100px 0 50px 0;
    font-size: 35px;
    color: rgb(255, 255, 255);
    font-family: 'Bellefair', serif;
}


.image-1 img{
    width: 400px;
    margin: 0 50px 40px 0;
    margin-left: 40px;
}



#contacto{
    background-image: url(Imagenes/Fondo.jpg);
    background-repeat: no-repeat;
   
    background-size: cover  ;
    backdrop-filter: blur(1rem);
    
}



.contacto h2{
    font-size: 40px;
    text-align: center;
    padding: 40px 0 30px 0;
    color: aliceblue;

}

form{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.campo-1{
        margin-bottom: 15px;
}

.campo{
    margin: 5px;
    padding: 25px 15px;
    width: 250px;
    background-color: black;
    border: 1 px  solid #CF2D3A;
    outline: none;
    border-radius: 10px;
    color: aliceblue;
    font-size: 14PX;
}
.btn-1{
    padding: 7px 25px;
    border: none;
    background-color: aliceblue;
    margin: 18px 0 40px 0;
    border-radius: 24px;
}

































#terminos{
    background-color: black;
    height: 35.5rem;
    font-family: 'Poppins', sans-serif;
    

}

.terminos img{
    width: 300px;
}
.descrip{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    gap: 1.7rem;
    
    
   
    
}
.terminos{
    display: flex;
    justify-content: space-between;
    padding: 10rem;
    padding: 10rem 20rem 0 5rem;
    
    
}


.final{
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
    padding: 6rem 5rem 0 5rem;
    align-items: center;
    
}
.final img{
    cursor: pointer;
}
.final p{
    font-size: 12px;
}   























@media screen and (max-width:750px) {

    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 2rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: aliceblue;
    }
   .cerrar-menu{
    margin-top: 10px;
    font-size: 2.5rem;

   }

   .nav{
      opacity: 0;
      visibility: hidden;
      display: flex;
      flex-direction: column;
       align-items: end;
       gap: 1rem;
      position: absolute;
      top:0;
      right: 0;
      left: 12rem;
      bottom: 0;
      background-color: rgb(61, 60, 60);
      padding: 1rem;
      box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }

   .nav-list{
      flex-direction: column;
      align-items: end;
      margin: 0;
      gap: 3rem;

    }

   .nav-list li a{
      color: rgb(255, 255, 255);
      padding: 1rem;
    }
     .img{
        width: 100%;
    }
    .logo{
        width: 4.5rem;
    }
   








    #portada{
        height: 500px;
    }

    .p-texto{
        padding: 0px 10px 0 70px;
    }

    .p-texto h1{
        font-size: 50px;
    }
    .p-texto p{
        width: 350px;
        padding: 30px 0;
        text-align: justify;
    }
    
    .p-texto button{
        margin: 4px;
        
    }











    .nosotros{
        flex-direction: column;
        display: block;
        padding: 0;
           
    }

    .nosotros img{
      width: 500px;
      
        
    }

    .letra-2{
        padding: 40px 0 30px 40px ;
        margin: 0;
     
        
    }
    .letra-2 h1{
        margin-left: 60px;
    }

    .letra-2 p{
        width: 400px;
        text-align: justify;
       

    }

    .letra-2 button{
       margin-left: 130px;
        
    }







    #services{
        padding: 0;
        height: 75rem;
        text-align: center;
        
    }
    .services{
        width: 100%;
        text-align: center;
    }


    .serv-1{
        flex-direction: column;
        
        
    }
    .corte{
        width: 100%;
    }
  








    #galery{
        height:3500px;
        
    }
    .image-1{
        flex-direction: column;
        width: 100%;
        align-items: center;
       
    }







    #contacto{
       text-align: center;
        
        
    }

    #terminos{
        height: 1100px;
    }


    .terminos{
        display: block;
        padding: 0;
        line-height: 3rem;
    }

    .terminos img{
        justify-content: space-between;
        width: 100% ;
        
    }

        .descrip{
            text-align: center;
            
        }



        .final{
            padding: 40px;
            flex-direction: column-reverse;
        }


   
}
