
*{
    box-sizing: border-box;
    font-size: 15px;
}


h1 {
    font-size: 58px;
    font-weight: 400;
}

h2 {
    font-size: 48px;
    font-weight: 400;
}

h3 {
    font-size: 38px;
    font-weight: 700;
}

h4 {
    font-size: 28px;
    font-weight: 400;
}

h5 {
    font-size: 18px;
    font-weight: 700;
}

h6 {
    font-size: 14px;
    font-weight: 700;
}

p {
    font-size: 14px;
    font-weight: 400;
}
* {
    box-sizing: border-box;
}

header {
    width: 1140px;
    margin:0 auto;
    display: flex;
    justify-content: center;

}

.logo {
    margin-left: 180px;
    width: 200px;
}

.menunav1 {
    min-width: 1140px;
    height: 80;
    padding:20px 0px;
    display: flex;
    align-items: center;
}

.logotipo img {
    height: 35px;
    margin-left: 50px;
    margin-top: 18px;
    
}

.ajuste {
    height: 55px;
    margin-top: 34px;
}
.menu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    gap: 56px;

}

.portada {
    max-width: 1140px;
    margin: 0 auto;

    padding: 80px 0;
    color: rgb(158, 158, 158);
}

.p-texto img {   
    width: 100%;
     
}
.p-imagen h1 {
    background-color: rgb(110, 110, 110);
    padding: 10px;
}

.p-imagen h4 {
    text-align: center;
}
.portada {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 150px;
}

.menunav, .portada, .lista, .carrusel, .formulario, .BUY{
    max-width: 1140px;
    margin: 0 auto;
    padding: 80px, 0;
}

#BUY {
    background-color: rgb(0, 0, 0);
}



#formulario {
    background-color: rgb(107, 107, 107);
}

.formulario {
    display: flex;
    justify-content:center;
}

.form {
    width: 500px;
}

.input-group {
    display: flex;
    flex-direction: column;
}

.textoBUY h4 {
    margin-left: -52px;
    color:rgb(255, 255, 255);
    height: 15px;
}
    
.BUY {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}

.logo {
    height: 38px;
    width: 100%;
    display: center;
    justify-content: center;
}

#nosotros{
    background-image: url(Imagenes/Fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    width: auto;
    color: aliceblue;
    padding: 50px 0px 200px 0px;
    background-attachment: fixed;

}

.PERFUME img {
    padding: 80px;
    height: 500px;
    margin-left: 160px;
    margin-top: 50px;
}

#tipografia {
    background-image: url(Imagenes/download.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    width: auto;
    color: aliceblue;
    padding: 100px 0px 200px 0px;
    background-attachment: fixed;
}

.tipografia img {
    height: 45px;
    align-content: center;
}